*{
	box-sizing: border-box;
}

img{
	max-width: 100%;
}

body{
	background: black;
	margin:  0;
}

.canvas-container{
	position: relative;
	width: 300px;
	max-width: calc( 100% - 350px);
	border: 2px solid grey;
}

/* .lower-canvas{
	background: rgb(40, 40, 40)	
} */

canvas{
	max-width: 100%;
	height: auto !important;
/* 	border:  3px solid grey; */
}

#gui{
	width: 300px;
	border: 2px solid green;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	overflow-y: auto;
	
/* 	pointer-events: none; */
}

.button{
	display: inline-block;
	padding: 5px;
	background: lightgrey;
	cursor: pointer;
	user-select: none;
	box-shadow: 0px 0px 10px black;
}
.button:hover{
	background: rgb(180, 180, 180);
}
.button.selected{
	background: orange;
}

#gui{
	background: rgba(255, 255, 255, .8)
}
#gui .button{
	margin: 3px;
}

#gui-content .section{
/* 	border: 3px solid pink; */
}
.hidden{
	display: none;
}

.drop{
	max-width: 100px;
	display: inline-block;
	vertical-align: top;
	margin: 10px;
}

#resizer{
	position: absolute;
	top: calc(100% + 3px);
	right: 0%;
	padding: 5px;
	background: lightgrey;
	font-weight: bold;
	font-size: 1.7rem;
}